USE [master]
GO
/****** Object:  Database [QLHocSinhTHPT]    Script Date: 12/07/2020 14:59:56 ******/
CREATE DATABASE [QLHocSinhTHPT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLHocSinhTHPT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLHocSinhTHPT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLHocSinhTHPT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLHocSinhTHPT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHocSinhTHPT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHocSinhTHPT]
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_MaGiaoVien]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_MaGiaoVien]()
RETURNS VARCHAR(6)
AS
BEGIN
	DECLARE @ID VARCHAR(6)
	IF (SELECT COUNT(MaGiaoVien) FROM GIAOVIEN) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MaGiaoVien, 2)) FROM GIAOVIEN
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'GV000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'GV00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_MaHocSinh]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_MaHocSinh]()
RETURNS VARCHAR(6)
AS
BEGIN
	DECLARE @ID VARCHAR(6)
	IF (SELECT COUNT(MaHocSinh) FROM HOCSINH) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MaHocSinh, 2)) FROM HOCSINH
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'HS000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'HS00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_MaMonHoc]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_MaMonHoc]()
RETURNS VARCHAR(6)
AS
BEGIN
	DECLARE @ID VARCHAR(6)
	IF (SELECT COUNT(MaMonHoc) FROM MONHOC) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MaMonHoc, 2)) FROM MONHOC
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'MH000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'MH00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_MaNguoiDung]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_MaNguoiDung]()
RETURNS VARCHAR(6)
AS
BEGIN
	DECLARE @ID VARCHAR(6)
	IF (SELECT COUNT(MaND) FROM NGUOIDUNG) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MaND, 2)) FROM NGUOIDUNG
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'ND000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'ND00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  Table [dbo].[BANG_DIEM]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANG_DIEM](
	[ma_HocSinh] [varchar](6) NOT NULL,
	[ma_NamHoc] [varchar](6) NOT NULL,
	[ma_HocKy] [varchar](3) NOT NULL,
	[ma_LopHoc] [varchar](10) NOT NULL,
	[ma_MonHoc] [varchar](6) NOT NULL,
	[diem_KTMieng] [float] NULL,
	[diem_KT15L1] [float] NULL,
	[diem_KT15L2] [float] NULL,
	[diem_KT15L3] [float] NULL,
	[diem_1TL1] [float] NULL,
	[diem_1TL2] [float] NULL,
	[diem_ThiHK] [float] NULL,
	[diem_TBM] [float] NULL,
 CONSTRAINT [PK_BANG_DIEM] PRIMARY KEY CLUSTERED 
(
	[ma_HocSinh] ASC,
	[ma_NamHoc] ASC,
	[ma_HocKy] ASC,
	[ma_LopHoc] ASC,
	[ma_MonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANTOC]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANTOC](
	[MaDanToc] [varchar](6) NOT NULL,
	[TenDanToc] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanToc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MaGiaoVien] [varchar](6) NOT NULL,
	[TenGiaoVien] [nvarchar](30) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[DienThoai] [varchar](15) NOT NULL,
	[MaMonHoc] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGiaoVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANHKIEM]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANHKIEM](
	[MaHanhKiem] [varchar](6) NOT NULL,
	[TenHanhKiem] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHanhKiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCKY]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCKY](
	[MaHocKy] [varchar](3) NOT NULL,
	[TenHocKy] [nvarchar](30) NOT NULL,
	[HeSo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCLUC]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCLUC](
	[MaHocLuc] [varchar](6) NOT NULL,
	[TenHocLuc] [nvarchar](30) NOT NULL,
	[DiemCanDuoi] [float] NOT NULL,
	[DiemCanTren] [float] NOT NULL,
	[DiemKhongChe] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHocLuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[MaHocSinh] [varchar](6) NOT NULL,
	[HoTen] [nvarchar](30) NOT NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [datetime] NULL,
	[MaDanToc] [varchar](6) NOT NULL,
	[MaTonGiao] [varchar](6) NOT NULL,
	[HoTenCha] [nvarchar](30) NOT NULL,
	[MaNNghiepCha] [varchar](6) NOT NULL,
	[HoTenMe] [nvarchar](30) NOT NULL,
	[MaNNghiepMe] [varchar](6) NOT NULL,
	[anh_The] [image] NULL,
	[DiaChi] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHocSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUA]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUA](
	[MaKetQua] [varchar](6) NOT NULL,
	[TenKetQua] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKetQua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUA_CANAM]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUA_CANAM](
	[ma_HocSinh] [varchar](6) NOT NULL,
	[ma_NamHoc] [varchar](6) NOT NULL,
	[ma_LopHoc] [varchar](10) NOT NULL,
	[diem_TB] [float] NULL,
	[loai_HanhKiem] [varchar](6) NULL,
	[loai_HocLuc] [varchar](6) NULL,
	[ketqua_HocTap] [varchar](6) NULL,
 CONSTRAINT [PK_KETQUA_CANAM] PRIMARY KEY CLUSTERED 
(
	[ma_HocSinh] ASC,
	[ma_NamHoc] ASC,
	[ma_LopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUA_HOCKY]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUA_HOCKY](
	[ma_HocSinh] [varchar](6) NOT NULL,
	[ma_NamHoc] [varchar](6) NOT NULL,
	[ma_HocKy] [varchar](3) NOT NULL,
	[ma_LopHoc] [varchar](10) NOT NULL,
	[diem_TB] [float] NULL,
	[loai_HanhKiem] [varchar](6) NULL,
	[loai_HocLuc] [varchar](6) NULL,
 CONSTRAINT [PK_KETQUA_HOCKY] PRIMARY KEY CLUSTERED 
(
	[ma_HocSinh] ASC,
	[ma_NamHoc] ASC,
	[ma_HocKy] ASC,
	[ma_LopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHEN_THUONG]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHEN_THUONG](
	[ma_HocSinh] [varchar](6) NOT NULL,
	[ma_NamHoc] [varchar](6) NOT NULL,
	[ma_LopHoc] [varchar](10) NOT NULL,
	[ma_HocKy] [varchar](3) NOT NULL,
	[ngay_KhenThuong] [date] NULL,
	[noidung_KhenThuong] [ntext] NULL,
 CONSTRAINT [PK_KHENTHUONG] PRIMARY KEY CLUSTERED 
(
	[ma_HocSinh] ASC,
	[ma_NamHoc] ASC,
	[ma_LopHoc] ASC,
	[ma_HocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOILOP]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOILOP](
	[MaKhoiLop] [varchar](6) NOT NULL,
	[TenKhoiLop] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoiLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAINGUOIDUNG]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAINGUOIDUNG](
	[MaLoai] [varchar](6) NOT NULL,
	[TenLoaiND] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MaLop] [varchar](10) NOT NULL,
	[TenLop] [nvarchar](30) NOT NULL,
	[MaKhoiLop] [varchar](6) NOT NULL,
	[MaNamHoc] [varchar](6) NOT NULL,
	[SiSo] [int] NOT NULL,
	[MaGiaoVien] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MaMonHoc] [varchar](6) NOT NULL,
	[TenMonHoc] [nvarchar](30) NOT NULL,
	[SoTiet] [int] NOT NULL,
	[HeSo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NAMHOC]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NAMHOC](
	[MaNamHoc] [varchar](6) NOT NULL,
	[TenNamHoc] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNamHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGHENGHIEP]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGHENGHIEP](
	[MaNghe] [varchar](6) NOT NULL,
	[TenNghe] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNghe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MaND] [varchar](6) NOT NULL,
	[MaLoai] [varchar](6) NOT NULL,
	[TenND] [nvarchar](30) NOT NULL,
	[TenDNhap] [varchar](30) NOT NULL,
	[MatKhau] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANCONG]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONG](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MaNamHoc] [varchar](6) NOT NULL,
	[MaLop] [varchar](10) NOT NULL,
	[MaMonHoc] [varchar](6) NOT NULL,
	[MaGiaoVien] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANLOP]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANLOP](
	[MaNamHoc] [varchar](6) NOT NULL,
	[MaKhoiLop] [varchar](6) NOT NULL,
	[MaLop] [varchar](10) NOT NULL,
	[MaHocSinh] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNamHoc] ASC,
	[MaKhoiLop] ASC,
	[MaLop] ASC,
	[MaHocSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYDINH]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYDINH](
	[TuoiCanDuoi] [int] NOT NULL,
	[TuoiCanTren] [int] NOT NULL,
	[SiSoCanDuoi] [int] NOT NULL,
	[SiSoCanTren] [int] NOT NULL,
	[ThangDiem] [int] NOT NULL,
	[TenTruong] [nvarchar](100) NULL,
	[DiaChiTruong] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THOIGIAN_HOC]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THOIGIAN_HOC](
	[ma_NamHoc] [varchar](6) NOT NULL,
	[ma_HocKy] [varchar](3) NOT NULL,
	[thoigian_BatDau] [date] NULL,
	[thoigian_KetThuc] [date] NULL,
 CONSTRAINT [PK_THOIGIANHOC] PRIMARY KEY CLUSTERED 
(
	[ma_NamHoc] ASC,
	[ma_HocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TONGIAO]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TONGIAO](
	[MaTonGiao] [varchar](6) NOT NULL,
	[TenTonGiao] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTonGiao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VI_PHAM]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VI_PHAM](
	[ma_HocSinh] [varchar](6) NOT NULL,
	[ma_NamHoc] [varchar](6) NOT NULL,
	[ma_LopHoc] [varchar](10) NOT NULL,
	[ma_HocKy] [varchar](3) NOT NULL,
	[ngay_ViPham] [date] NULL,
	[noidung_ViPham] [ntext] NULL,
 CONSTRAINT [PK_VI_PHAM] PRIMARY KEY CLUSTERED 
(
	[ma_HocSinh] ASC,
	[ma_NamHoc] ASC,
	[ma_LopHoc] ASC,
	[ma_HocKy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[DANTOC] ([MaDanToc], [TenDanToc]) VALUES (N'DT0001', N'Kinh')
INSERT [dbo].[DANTOC] ([MaDanToc], [TenDanToc]) VALUES (N'DT0002', N'Hoa')
INSERT [dbo].[DANTOC] ([MaDanToc], [TenDanToc]) VALUES (N'DT0003', N'Khome')
GO
INSERT [dbo].[GIAOVIEN] ([MaGiaoVien], [TenGiaoVien], [DiaChi], [DienThoai], [MaMonHoc]) VALUES (N'GV0001', N'Nguyen Hoang Tung', N'100 Tran Hung Dao, Long Xuyen', N'0975058876', N'MH0001')
INSERT [dbo].[GIAOVIEN] ([MaGiaoVien], [TenGiaoVien], [DiaChi], [DienThoai], [MaMonHoc]) VALUES (N'GV0002', N'Phan Hong Nhung', N'Lac Quoi - Tri Ton', N'0976630315', N'MH0002')
INSERT [dbo].[GIAOVIEN] ([MaGiaoVien], [TenGiaoVien], [DiaChi], [DienThoai], [MaMonHoc]) VALUES (N'GV0003', N'Huynh Thanh Truc', N'10C Nguyen Trung Truc, Chau Doc', N'0699015456', N'MH0003')
GO
INSERT [dbo].[HANHKIEM] ([MaHanhKiem], [TenHanhKiem]) VALUES (N'HK0001', N'Tot')
INSERT [dbo].[HANHKIEM] ([MaHanhKiem], [TenHanhKiem]) VALUES (N'HK0002', N'Kha')
INSERT [dbo].[HANHKIEM] ([MaHanhKiem], [TenHanhKiem]) VALUES (N'HK0003', N'Trung binh')
GO
INSERT [dbo].[HOCKY] ([MaHocKy], [TenHocKy], [HeSo]) VALUES (N'HK1', N'Hoc ky 1', 1)
INSERT [dbo].[HOCKY] ([MaHocKy], [TenHocKy], [HeSo]) VALUES (N'HK2', N'Hoc ky 2', 2)
GO
INSERT [dbo].[HOCLUC] ([MaHocLuc], [TenHocLuc], [DiemCanDuoi], [DiemCanTren], [DiemKhongChe]) VALUES (N'HL0001', N'Gioi', 8, 10, 6.5)
INSERT [dbo].[HOCLUC] ([MaHocLuc], [TenHocLuc], [DiemCanDuoi], [DiemCanTren], [DiemKhongChe]) VALUES (N'HL0002', N'Kha', 6.5, 7.9, 5)
INSERT [dbo].[HOCLUC] ([MaHocLuc], [TenHocLuc], [DiemCanDuoi], [DiemCanTren], [DiemKhongChe]) VALUES (N'HL0003', N'Trung binh', 5, 6.4, 3.5)
GO
INSERT [dbo].[HOCSINH] ([MaHocSinh], [HoTen], [GioiTinh], [NgaySinh], [MaDanToc], [MaTonGiao], [HoTenCha], [MaNNghiepCha], [HoTenMe], [MaNNghiepMe], [anh_The], [DiaChi]) VALUES (N'HS0001', N'NguyenHoangDuogn', 1, CAST(N'2004-01-01T00:00:00.000' AS DateTime), N'DT0001', N'TG0001', N'Nguyen Van', N'NN0001', N'Nguyen Van', N'NN0001', NULL, N'272 ấp 30/4 xã An Linh huyện Phú Giáo tỉnh Bình Dương')
INSERT [dbo].[HOCSINH] ([MaHocSinh], [HoTen], [GioiTinh], [NgaySinh], [MaDanToc], [MaTonGiao], [HoTenCha], [MaNNghiepCha], [HoTenMe], [MaNNghiepMe], [anh_The], [DiaChi]) VALUES (N'HS0002', N'NguyenHoangDuogn', 1, CAST(N'2004-01-01T00:00:00.000' AS DateTime), N'DT0001', N'TG0001', N'Nguyen Van', N'NN0001', N'Nguyen Van', N'NN0001', NULL, N'272 ấp 30/4 xã An Linh huyện Phú Giáo tỉnh Bình Dương')
INSERT [dbo].[HOCSINH] ([MaHocSinh], [HoTen], [GioiTinh], [NgaySinh], [MaDanToc], [MaTonGiao], [HoTenCha], [MaNNghiepCha], [HoTenMe], [MaNNghiepMe], [anh_The], [DiaChi]) VALUES (N'HS0003', N'NguyenHoangDuogn', 1, CAST(N'2004-01-01T00:00:00.000' AS DateTime), N'DT0001', N'TG0001', N'Nguyen Van', N'NN0001', N'Nguyen Van', N'NN0001', NULL, N'272 ấp 30/4 xã An Linh huyện Phú Giáo tỉnh Bình Dương')
GO
INSERT [dbo].[KETQUA] ([MaKetQua], [TenKetQua]) VALUES (N'KQ0001', N'Len lop')
INSERT [dbo].[KETQUA] ([MaKetQua], [TenKetQua]) VALUES (N'KQ0002', N'Thi lai')
INSERT [dbo].[KETQUA] ([MaKetQua], [TenKetQua]) VALUES (N'KQ0003', N'Ren luyen he')
GO
INSERT [dbo].[KHOILOP] ([MaKhoiLop], [TenKhoiLop]) VALUES (N'KHOI10', N'Khoi 10')
INSERT [dbo].[KHOILOP] ([MaKhoiLop], [TenKhoiLop]) VALUES (N'KHOI11', N'Khoi 11')
INSERT [dbo].[KHOILOP] ([MaKhoiLop], [TenKhoiLop]) VALUES (N'KHOI12', N'Khoi 12')
GO
INSERT [dbo].[LOAINGUOIDUNG] ([MaLoai], [TenLoaiND]) VALUES (N'LND001', N'Ban giám hiệu')
INSERT [dbo].[LOAINGUOIDUNG] ([MaLoai], [TenLoaiND]) VALUES (N'LND002', N'Giáo viên')
INSERT [dbo].[LOAINGUOIDUNG] ([MaLoai], [TenLoaiND]) VALUES (N'LND003', N'Nhân viên giáo vụ')
GO
INSERT [dbo].[LOP] ([MaLop], [TenLop], [MaKhoiLop], [MaNamHoc], [SiSo], [MaGiaoVien]) VALUES (N'LOP1011718', N'10A1', N'KHOI10', N'NH1718', 3, N'GV0001')
INSERT [dbo].[LOP] ([MaLop], [TenLop], [MaKhoiLop], [MaNamHoc], [SiSo], [MaGiaoVien]) VALUES (N'LOP1021718', N'10A2', N'KHOI10', N'NH1718', 0, N'GV0002')
INSERT [dbo].[LOP] ([MaLop], [TenLop], [MaKhoiLop], [MaNamHoc], [SiSo], [MaGiaoVien]) VALUES (N'LOP1031718', N'10A3', N'KHOI10', N'NH1718', 0, N'GV0003')
GO
INSERT [dbo].[MONHOC] ([MaMonHoc], [TenMonHoc], [SoTiet], [HeSo]) VALUES (N'MH0001', N'Toan Hoc', 90, 2)
INSERT [dbo].[MONHOC] ([MaMonHoc], [TenMonHoc], [SoTiet], [HeSo]) VALUES (N'MH0002', N'Vat Ly', 60, 1)
INSERT [dbo].[MONHOC] ([MaMonHoc], [TenMonHoc], [SoTiet], [HeSo]) VALUES (N'MH0003', N'Hoa Hoc', 60, 1)
GO
INSERT [dbo].[NAMHOC] ([MaNamHoc], [TenNamHoc]) VALUES (N'NH1718', N'2017-2018')
INSERT [dbo].[NAMHOC] ([MaNamHoc], [TenNamHoc]) VALUES (N'NH1819', N'2018-2019')
INSERT [dbo].[NAMHOC] ([MaNamHoc], [TenNamHoc]) VALUES (N'NH1920', N'2019-2020')
GO
INSERT [dbo].[NGHENGHIEP] ([MaNghe], [TenNghe]) VALUES (N'NN0001', N'Noi tro')
INSERT [dbo].[NGHENGHIEP] ([MaNghe], [TenNghe]) VALUES (N'NN0002', N'Giao vien')
INSERT [dbo].[NGHENGHIEP] ([MaNghe], [TenNghe]) VALUES (N'NN0003', N'Cong nhan')
GO
INSERT [dbo].[NGUOIDUNG] ([MaND], [MaLoai], [TenND], [TenDNhap], [MatKhau]) VALUES (N'ND0001', N'LND001', N'Nguyễn Hoàng Dương', N'hoangduong', N'hoangduong')
INSERT [dbo].[NGUOIDUNG] ([MaND], [MaLoai], [TenND], [TenDNhap], [MatKhau]) VALUES (N'ND0002', N'LND002', N'Phan Hong Nhung', N'hongnhung', N'hongnhung')
INSERT [dbo].[NGUOIDUNG] ([MaND], [MaLoai], [TenND], [TenDNhap], [MatKhau]) VALUES (N'ND0003', N'LND003', N'Lam Trung Toan', N'trungtoan', N'toantrung')
GO
INSERT [dbo].[PHANLOP] ([MaNamHoc], [MaKhoiLop], [MaLop], [MaHocSinh]) VALUES (N'NH1718', N'KHOI10', N'LOP1011718', N'HS0001')
INSERT [dbo].[PHANLOP] ([MaNamHoc], [MaKhoiLop], [MaLop], [MaHocSinh]) VALUES (N'NH1718', N'KHOI10', N'LOP1011718', N'HS0002')
INSERT [dbo].[PHANLOP] ([MaNamHoc], [MaKhoiLop], [MaLop], [MaHocSinh]) VALUES (N'NH1718', N'KHOI10', N'LOP1011718', N'HS0003')
GO
INSERT [dbo].[QUYDINH] ([TuoiCanDuoi], [TuoiCanTren], [SiSoCanDuoi], [SiSoCanTren], [ThangDiem], [TenTruong], [DiaChiTruong]) VALUES (0, 0, 25, 0, 0, N'Trung học phổ thông Nguyễn Huệ', N'xã Tân Hiệp huyện Phú Giáo tỉnh Bình Dương')
GO
INSERT [dbo].[THOIGIAN_HOC] ([ma_NamHoc], [ma_HocKy], [thoigian_BatDau], [thoigian_KetThuc]) VALUES (N'NH1718', N'HK1', CAST(N'2017-09-03' AS Date), CAST(N'2018-01-01' AS Date))
INSERT [dbo].[THOIGIAN_HOC] ([ma_NamHoc], [ma_HocKy], [thoigian_BatDau], [thoigian_KetThuc]) VALUES (N'NH1718', N'HK2', CAST(N'2018-02-10' AS Date), CAST(N'2018-05-20' AS Date))
INSERT [dbo].[THOIGIAN_HOC] ([ma_NamHoc], [ma_HocKy], [thoigian_BatDau], [thoigian_KetThuc]) VALUES (N'NH1819', N'HK1', CAST(N'2018-09-10' AS Date), CAST(N'2019-01-10' AS Date))
GO
INSERT [dbo].[TONGIAO] ([MaTonGiao], [TenTonGiao]) VALUES (N'TG0001', N'Khong')
INSERT [dbo].[TONGIAO] ([MaTonGiao], [TenTonGiao]) VALUES (N'TG0002', N'Phat')
INSERT [dbo].[TONGIAO] ([MaTonGiao], [TenTonGiao]) VALUES (N'TG0003', N'PG Hoa Hao')
GO
ALTER TABLE [dbo].[BANG_DIEM]  WITH CHECK ADD  CONSTRAINT [FK_BANG_DIEM_HOCKY] FOREIGN KEY([ma_HocKy])
REFERENCES [dbo].[HOCKY] ([MaHocKy])
GO
ALTER TABLE [dbo].[BANG_DIEM] CHECK CONSTRAINT [FK_BANG_DIEM_HOCKY]
GO
ALTER TABLE [dbo].[BANG_DIEM]  WITH CHECK ADD  CONSTRAINT [FK_BANG_DIEM_HOCSINH] FOREIGN KEY([ma_HocSinh])
REFERENCES [dbo].[HOCSINH] ([MaHocSinh])
GO
ALTER TABLE [dbo].[BANG_DIEM] CHECK CONSTRAINT [FK_BANG_DIEM_HOCSINH]
GO
ALTER TABLE [dbo].[BANG_DIEM]  WITH CHECK ADD  CONSTRAINT [FK_BANG_DIEM_LOP] FOREIGN KEY([ma_LopHoc])
REFERENCES [dbo].[LOP] ([MaLop])
GO
ALTER TABLE [dbo].[BANG_DIEM] CHECK CONSTRAINT [FK_BANG_DIEM_LOP]
GO
ALTER TABLE [dbo].[BANG_DIEM]  WITH CHECK ADD  CONSTRAINT [FK_BANG_DIEM_MONHOC] FOREIGN KEY([ma_MonHoc])
REFERENCES [dbo].[MONHOC] ([MaMonHoc])
GO
ALTER TABLE [dbo].[BANG_DIEM] CHECK CONSTRAINT [FK_BANG_DIEM_MONHOC]
GO
ALTER TABLE [dbo].[BANG_DIEM]  WITH CHECK ADD  CONSTRAINT [FK_BANG_DIEM_NAMHOC] FOREIGN KEY([ma_NamHoc])
REFERENCES [dbo].[NAMHOC] ([MaNamHoc])
GO
ALTER TABLE [dbo].[BANG_DIEM] CHECK CONSTRAINT [FK_BANG_DIEM_NAMHOC]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [F_GV_MH] FOREIGN KEY([MaMonHoc])
REFERENCES [dbo].[MONHOC] ([MaMonHoc])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [F_GV_MH]
GO
ALTER TABLE [dbo].[HOCSINH]  WITH CHECK ADD  CONSTRAINT [F_HS_DT] FOREIGN KEY([MaDanToc])
REFERENCES [dbo].[DANTOC] ([MaDanToc])
GO
ALTER TABLE [dbo].[HOCSINH] CHECK CONSTRAINT [F_HS_DT]
GO
ALTER TABLE [dbo].[HOCSINH]  WITH CHECK ADD  CONSTRAINT [F_HS_NNC] FOREIGN KEY([MaNNghiepCha])
REFERENCES [dbo].[NGHENGHIEP] ([MaNghe])
GO
ALTER TABLE [dbo].[HOCSINH] CHECK CONSTRAINT [F_HS_NNC]
GO
ALTER TABLE [dbo].[HOCSINH]  WITH CHECK ADD  CONSTRAINT [F_HS_NNM] FOREIGN KEY([MaNNghiepMe])
REFERENCES [dbo].[NGHENGHIEP] ([MaNghe])
GO
ALTER TABLE [dbo].[HOCSINH] CHECK CONSTRAINT [F_HS_NNM]
GO
ALTER TABLE [dbo].[HOCSINH]  WITH CHECK ADD  CONSTRAINT [F_HS_TG] FOREIGN KEY([MaTonGiao])
REFERENCES [dbo].[TONGIAO] ([MaTonGiao])
GO
ALTER TABLE [dbo].[HOCSINH] CHECK CONSTRAINT [F_HS_TG]
GO
ALTER TABLE [dbo].[KETQUA_CANAM]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_CANAM_HANHKIEM] FOREIGN KEY([loai_HanhKiem])
REFERENCES [dbo].[HANHKIEM] ([MaHanhKiem])
GO
ALTER TABLE [dbo].[KETQUA_CANAM] CHECK CONSTRAINT [FK_KETQUA_CANAM_HANHKIEM]
GO
ALTER TABLE [dbo].[KETQUA_CANAM]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_CANAM_HOCLUC] FOREIGN KEY([loai_HocLuc])
REFERENCES [dbo].[HOCLUC] ([MaHocLuc])
GO
ALTER TABLE [dbo].[KETQUA_CANAM] CHECK CONSTRAINT [FK_KETQUA_CANAM_HOCLUC]
GO
ALTER TABLE [dbo].[KETQUA_CANAM]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_CANAM_HOCSINH] FOREIGN KEY([ma_HocSinh])
REFERENCES [dbo].[HOCSINH] ([MaHocSinh])
GO
ALTER TABLE [dbo].[KETQUA_CANAM] CHECK CONSTRAINT [FK_KETQUA_CANAM_HOCSINH]
GO
ALTER TABLE [dbo].[KETQUA_CANAM]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_CANAM_KETQUA] FOREIGN KEY([ketqua_HocTap])
REFERENCES [dbo].[KETQUA] ([MaKetQua])
GO
ALTER TABLE [dbo].[KETQUA_CANAM] CHECK CONSTRAINT [FK_KETQUA_CANAM_KETQUA]
GO
ALTER TABLE [dbo].[KETQUA_CANAM]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_CANAM_LOP] FOREIGN KEY([ma_LopHoc])
REFERENCES [dbo].[LOP] ([MaLop])
GO
ALTER TABLE [dbo].[KETQUA_CANAM] CHECK CONSTRAINT [FK_KETQUA_CANAM_LOP]
GO
ALTER TABLE [dbo].[KETQUA_CANAM]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_CANAM_NAMHOC] FOREIGN KEY([ma_NamHoc])
REFERENCES [dbo].[NAMHOC] ([MaNamHoc])
GO
ALTER TABLE [dbo].[KETQUA_CANAM] CHECK CONSTRAINT [FK_KETQUA_CANAM_NAMHOC]
GO
ALTER TABLE [dbo].[KETQUA_HOCKY]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_HOCKY_HANHKIEM] FOREIGN KEY([loai_HanhKiem])
REFERENCES [dbo].[HANHKIEM] ([MaHanhKiem])
GO
ALTER TABLE [dbo].[KETQUA_HOCKY] CHECK CONSTRAINT [FK_KETQUA_HOCKY_HANHKIEM]
GO
ALTER TABLE [dbo].[KETQUA_HOCKY]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_HOCKY_HOCKY] FOREIGN KEY([ma_HocKy])
REFERENCES [dbo].[HOCKY] ([MaHocKy])
GO
ALTER TABLE [dbo].[KETQUA_HOCKY] CHECK CONSTRAINT [FK_KETQUA_HOCKY_HOCKY]
GO
ALTER TABLE [dbo].[KETQUA_HOCKY]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_HOCKY_HOCLUC] FOREIGN KEY([loai_HocLuc])
REFERENCES [dbo].[HOCLUC] ([MaHocLuc])
GO
ALTER TABLE [dbo].[KETQUA_HOCKY] CHECK CONSTRAINT [FK_KETQUA_HOCKY_HOCLUC]
GO
ALTER TABLE [dbo].[KETQUA_HOCKY]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_HOCKY_HOCSINH] FOREIGN KEY([ma_HocSinh])
REFERENCES [dbo].[HOCSINH] ([MaHocSinh])
GO
ALTER TABLE [dbo].[KETQUA_HOCKY] CHECK CONSTRAINT [FK_KETQUA_HOCKY_HOCSINH]
GO
ALTER TABLE [dbo].[KETQUA_HOCKY]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_HOCKY_LOP] FOREIGN KEY([ma_LopHoc])
REFERENCES [dbo].[LOP] ([MaLop])
GO
ALTER TABLE [dbo].[KETQUA_HOCKY] CHECK CONSTRAINT [FK_KETQUA_HOCKY_LOP]
GO
ALTER TABLE [dbo].[KETQUA_HOCKY]  WITH CHECK ADD  CONSTRAINT [FK_KETQUA_HOCKY_NAMHOC] FOREIGN KEY([ma_NamHoc])
REFERENCES [dbo].[NAMHOC] ([MaNamHoc])
GO
ALTER TABLE [dbo].[KETQUA_HOCKY] CHECK CONSTRAINT [FK_KETQUA_HOCKY_NAMHOC]
GO
ALTER TABLE [dbo].[KHEN_THUONG]  WITH CHECK ADD  CONSTRAINT [FK_KHEN_THUONG_HOCKY] FOREIGN KEY([ma_HocKy])
REFERENCES [dbo].[HOCKY] ([MaHocKy])
GO
ALTER TABLE [dbo].[KHEN_THUONG] CHECK CONSTRAINT [FK_KHEN_THUONG_HOCKY]
GO
ALTER TABLE [dbo].[KHEN_THUONG]  WITH CHECK ADD  CONSTRAINT [FK_KHEN_THUONG_HOCSINH] FOREIGN KEY([ma_HocSinh])
REFERENCES [dbo].[HOCSINH] ([MaHocSinh])
GO
ALTER TABLE [dbo].[KHEN_THUONG] CHECK CONSTRAINT [FK_KHEN_THUONG_HOCSINH]
GO
ALTER TABLE [dbo].[KHEN_THUONG]  WITH CHECK ADD  CONSTRAINT [FK_KHEN_THUONG_LOP] FOREIGN KEY([ma_LopHoc])
REFERENCES [dbo].[LOP] ([MaLop])
GO
ALTER TABLE [dbo].[KHEN_THUONG] CHECK CONSTRAINT [FK_KHEN_THUONG_LOP]
GO
ALTER TABLE [dbo].[KHEN_THUONG]  WITH CHECK ADD  CONSTRAINT [FK_KHEN_THUONG_NAMHOC] FOREIGN KEY([ma_NamHoc])
REFERENCES [dbo].[NAMHOC] ([MaNamHoc])
GO
ALTER TABLE [dbo].[KHEN_THUONG] CHECK CONSTRAINT [FK_KHEN_THUONG_NAMHOC]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [F_LOP_GV] FOREIGN KEY([MaGiaoVien])
REFERENCES [dbo].[GIAOVIEN] ([MaGiaoVien])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [F_LOP_GV]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [F_LOP_KL] FOREIGN KEY([MaKhoiLop])
REFERENCES [dbo].[KHOILOP] ([MaKhoiLop])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [F_LOP_KL]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [F_LOP_NH] FOREIGN KEY([MaNamHoc])
REFERENCES [dbo].[NAMHOC] ([MaNamHoc])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [F_LOP_NH]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [F_ND_LND] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LOAINGUOIDUNG] ([MaLoai])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [F_ND_LND]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [F_PC_NH] FOREIGN KEY([MaNamHoc])
REFERENCES [dbo].[NAMHOC] ([MaNamHoc])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [F_PC_NH]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [P_PC_GV] FOREIGN KEY([MaGiaoVien])
REFERENCES [dbo].[GIAOVIEN] ([MaGiaoVien])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [P_PC_GV]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [P_PC_LOP] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOP] ([MaLop])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [P_PC_LOP]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [P_PC_MH] FOREIGN KEY([MaMonHoc])
REFERENCES [dbo].[MONHOC] ([MaMonHoc])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [P_PC_MH]
GO
ALTER TABLE [dbo].[PHANLOP]  WITH CHECK ADD  CONSTRAINT [F_PL_HS] FOREIGN KEY([MaHocSinh])
REFERENCES [dbo].[HOCSINH] ([MaHocSinh])
GO
ALTER TABLE [dbo].[PHANLOP] CHECK CONSTRAINT [F_PL_HS]
GO
ALTER TABLE [dbo].[PHANLOP]  WITH CHECK ADD  CONSTRAINT [F_PL_KHOI] FOREIGN KEY([MaKhoiLop])
REFERENCES [dbo].[KHOILOP] ([MaKhoiLop])
GO
ALTER TABLE [dbo].[PHANLOP] CHECK CONSTRAINT [F_PL_KHOI]
GO
ALTER TABLE [dbo].[PHANLOP]  WITH CHECK ADD  CONSTRAINT [F_PL_LOP] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOP] ([MaLop])
GO
ALTER TABLE [dbo].[PHANLOP] CHECK CONSTRAINT [F_PL_LOP]
GO
ALTER TABLE [dbo].[PHANLOP]  WITH CHECK ADD  CONSTRAINT [F_PL_NH] FOREIGN KEY([MaNamHoc])
REFERENCES [dbo].[NAMHOC] ([MaNamHoc])
GO
ALTER TABLE [dbo].[PHANLOP] CHECK CONSTRAINT [F_PL_NH]
GO
ALTER TABLE [dbo].[THOIGIAN_HOC]  WITH CHECK ADD  CONSTRAINT [FK_THOIGIANHOC_HOCKY] FOREIGN KEY([ma_HocKy])
REFERENCES [dbo].[HOCKY] ([MaHocKy])
GO
ALTER TABLE [dbo].[THOIGIAN_HOC] CHECK CONSTRAINT [FK_THOIGIANHOC_HOCKY]
GO
ALTER TABLE [dbo].[THOIGIAN_HOC]  WITH CHECK ADD  CONSTRAINT [FK_THOIGIANHOC_NAMHOC] FOREIGN KEY([ma_NamHoc])
REFERENCES [dbo].[NAMHOC] ([MaNamHoc])
GO
ALTER TABLE [dbo].[THOIGIAN_HOC] CHECK CONSTRAINT [FK_THOIGIANHOC_NAMHOC]
GO
ALTER TABLE [dbo].[VI_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_VI_PHAM_HOCKY] FOREIGN KEY([ma_HocKy])
REFERENCES [dbo].[HOCKY] ([MaHocKy])
GO
ALTER TABLE [dbo].[VI_PHAM] CHECK CONSTRAINT [FK_VI_PHAM_HOCKY]
GO
ALTER TABLE [dbo].[VI_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_VI_PHAM_HOCSINH] FOREIGN KEY([ma_HocSinh])
REFERENCES [dbo].[HOCSINH] ([MaHocSinh])
GO
ALTER TABLE [dbo].[VI_PHAM] CHECK CONSTRAINT [FK_VI_PHAM_HOCSINH]
GO
ALTER TABLE [dbo].[VI_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_VI_PHAM_LOP] FOREIGN KEY([ma_LopHoc])
REFERENCES [dbo].[LOP] ([MaLop])
GO
ALTER TABLE [dbo].[VI_PHAM] CHECK CONSTRAINT [FK_VI_PHAM_LOP]
GO
ALTER TABLE [dbo].[VI_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_VI_PHAM_NAMHOC] FOREIGN KEY([ma_NamHoc])
REFERENCES [dbo].[NAMHOC] ([MaNamHoc])
GO
ALTER TABLE [dbo].[VI_PHAM] CHECK CONSTRAINT [FK_VI_PHAM_NAMHOC]
GO
/****** Object:  StoredProcedure [dbo].[CapNhat_GiaoVien]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CapNhat_GiaoVien]
	@ma_GiaoVien varchar(6),
    @ten_GiaoVien nvarchar(30),
	@diaChi nvarchar(50),
	@dienThoai varchar(15),
	@ma_Mon varchar(6)
AS
BEGIN    
	UPDATE dbo.GIAOVIEN SET TenGiaoVien=@ten_GiaoVien,DiaChi=@diaChi,DienThoai=@dienThoai,MaMonHoc=@ma_Mon
	WHERE MaGiaoVien = @ma_GiaoVien
END;
GO
/****** Object:  StoredProcedure [dbo].[CapNhat_Lop]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CapNhat_Lop]
    @ma_Lop varchar(10),
	@ten_Lop nvarchar(30),
	@ma_KhoiLop varchar(6),
	@ma_NamHoc varchar(6),
	@siSo int,
	@ma_GiaoVien varchar(6)
AS
BEGIN
	UPDATE LOP SET TenLop=@ten_Lop, MaKhoiLop=@ma_KhoiLop, MaNamHoc=@ma_NamHoc, SiSo=@siSo, MaGiaoVien=@ma_GiaoVien
	WHERE MaLop=@ma_Lop
END;
GO
/****** Object:  StoredProcedure [dbo].[CapNhat_MatKhau]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CapNhat_MatKhau] 
    @ten_DangNhap varchar(30),
	@matKhau_Moi varchar(30)
AS
BEGIN    
	UPDATE dbo.NGUOIDUNG SET MatKhau=@matKhau_Moi WHERE TenDNhap = @ten_DangNhap
END;
GO
/****** Object:  StoredProcedure [dbo].[CapNhat_NguoiDung]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CapNhat_NguoiDung]
    @ma_NguoiDung varchar(6),
	@ma_Loai varchar(6),
	@ten_NguoiDung nvarchar(30),
	@ten_DangNhap nvarchar(30),
	@matKhau varchar(30)
AS
BEGIN
	UPDATE NGUOIDUNG SET TenND=@ten_NguoiDung, TenDNhap=@ten_DangNhap, MatKhau=@matKhau, MaLoai=@ma_Loai
	WHERE MaND=@ma_NguoiDung
END;
GO
/****** Object:  StoredProcedure [dbo].[CapNhat_QuyDinh]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CapNhat_QuyDinh]
	@max_SiSo int,
	@min_SiSo int,
	@max_Tuoi int,
	@min_Tuoi int,
	@thangDiem int,
	@tenTruong nvarchar(100),
	@diaChi nvarchar(100)
AS
BEGIN
	UPDATE QUYDINH SET SiSoCanDuoi = @min_SiSo, SiSoCanTren = @max_SiSo,
		TuoiCanDuoi = @min_Tuoi, TuoiCanTren = @max_Tuoi,
		TenTruong = @tenTruong, DiaChiTruong = @diaChi, ThangDiem = @thangDiem
END;
GO
/****** Object:  StoredProcedure [dbo].[Lay_HocKy]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Lay_HocKy]
AS
BEGIN
	SELECT * FROM HOCKY
END;
GO
/****** Object:  StoredProcedure [dbo].[LayDS_GiaoVien]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayDS_GiaoVien] 
AS
BEGIN
    SELECT MaGiaoVien, TenGiaoVien, DiaChi, DienThoai, TenMonHoc 
	FROM dbo.GIAOVIEN, dbo.MONHOC
	WHERE dbo.GIAOVIEN.MaMonHoc = dbo.MONHOC.MaMonHoc
END;
GO
/****** Object:  StoredProcedure [dbo].[LayDS_HocSinh]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LayDS_HocSinh] 
AS
BEGIN
	SELECT * FROM HOCSINH
END;
GO
/****** Object:  StoredProcedure [dbo].[LayDS_KhoiLop]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayDS_KhoiLop] 
AS
BEGIN
	SELECT * FROM KHOILOP
END;
GO
/****** Object:  StoredProcedure [dbo].[LayDS_LoaiNguoiDung]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LayDS_LoaiNguoiDung]
AS
BEGIN
    SELECT * FROM dbo.LOAINGUOIDUNG
END;
GO
/****** Object:  StoredProcedure [dbo].[LayDS_Lop]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayDS_Lop]
AS
BEGIN
	SELECT MaLop, TenLop, TenKhoiLop, TenNamHoc, SiSo, TenGiaoVien 
	FROM LOP LH, NAMHOC NH, GIAOVIEN GV, KHOILOP KL
	WHERE LH.MaKhoiLop = KL.MaKhoiLop AND LH.MaGiaoVien = GV.MaGiaoVien
		AND NH.MaNamHoc=LH.MaNamHoc
END;
GO
/****** Object:  StoredProcedure [dbo].[LayDS_MonHoc]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayDS_MonHoc] 
AS
BEGIN
    SELECT * FROM dbo.MONHOC
END;
GO
/****** Object:  StoredProcedure [dbo].[LayDS_NamHoc]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayDS_NamHoc] 
AS
BEGIN
	SELECT * FROM NAMHOC
END;
GO
/****** Object:  StoredProcedure [dbo].[LayDS_NguoiDung]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayDS_NguoiDung]  
AS
BEGIN
	SELECT MaND, TenLoaiND, TenND, TenDNhap, MatKhau FROM NGUOIDUNG ND, LOAINGUOIDUNG LND
	WHERE ND.MaLoai=LND.MaLoai
END;
GO
/****** Object:  StoredProcedure [dbo].[LayDS_PhanCong]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayDS_PhanCong]
AS 
BEGIN
	SELECT STT, TenNamHoc, TenLop, TenMonHoc, TenGiaoVien FROM PHANCONG PC, LOP LH, MONHOC MH, GIAOVIEN GV, NAMHOC NH
	WHERE PC.MaNamHoc = NH.MaNamHoc AND LH.MaLop = PC.MaLop AND GV.MaGiaoVien = PC.MaGiaoVien AND MH.MaMonHoc = PC.MaMonHoc
END;
GO
/****** Object:  StoredProcedure [dbo].[Sua_MonHoc]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Sua_MonHoc]
    @ID varchar(6),
	@ten_MonHoc nvarchar(30),
	@so_TietHoc int,
	@heSo int
AS
BEGIN
	UPDATE MONHOC SET TenMonHoc = @ten_MonHoc, SoTiet = @so_TietHoc, HeSo = @heSo
	WHERE MaMonHoc = @ID
END;
GO
/****** Object:  StoredProcedure [dbo].[Them_GiaoVien]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Them_GiaoVien] 
    @ten_GiaoVien nvarchar(30),
	@diaChi_GiaoVien nvarchar(50),
	@dienthoai_GiaoVien varchar(15),
	@ma_MonHoc varchar(6), 
	@ten_DangNhap varchar(30),
	@matkhau_DangNhap varchar(30),
	@ma_Loai varchar(6)
AS
BEGIN
	DECLARE @ma_GiaoVien varchar(6), @ma_NguoiDung varchar(6)
	SET @ma_GiaoVien = dbo.AUTO_MaGiaoVien();
	SET @ma_NguoiDung = dbo.AUTO_MaNguoiDung();
	
	INSERT INTO GIAOVIEN VALUES (@ma_GiaoVien, @ten_GiaoVien, @diaChi_GiaoVien, @dienthoai_GiaoVien, @ma_MonHoc)
	INSERT INTO NGUOIDUNG VALUES (@ma_NguoiDung, @ma_Loai, @ten_GiaoVien, @ten_DangNhap, @matkhau_DangNhap)

END;
GO
/****** Object:  StoredProcedure [dbo].[Them_HocSinh]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Them_HocSinh] 
    @ten_HocSinh nvarchar(30),
	@gioiTinh bit,
	@ngaySinh date,
	@ma_DanToc varchar(6),
	@ma_TonGiao varchar(6),
	@ten_Cha nvarchar(30),
	@ma_NgheCha varchar(6),
	@ten_Me nvarchar(30),
	@ma_NgheMe varchar(6),
	@ma_Khoi varchar(6),
	@ma_Lop varchar(10),
	@ma_Nam varchar(6)
AS
BEGIN
	DECLARE @sisoLop int, @max int
	SET @sisoLop = (SELECT SiSo FROM LOP WHERE MaNamHoc = @ma_Nam AND MaLop = @ma_Lop AND MaKhoiLop = @ma_Khoi)
	SET @max = (SELECT SiSoCanDuoi FROM QUYDINH)
	PRINT @sisoLop
	PRINT 'kjfbdk'+ CONVERT(CHAR, @max)
END;
GO
/****** Object:  StoredProcedure [dbo].[Them_Lop]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Them_Lop]
    @ten_Lop nvarchar(30),
	@ma_KhoiLop varchar(6),
	@ma_NamHoc varchar(6),
	@siSo int,
	@ma_GiaoVien varchar(6)
AS
BEGIN
	DECLARE @ID varchar(10)	
	SET @ID = 'LOP' + SUBSTRING(@ten_Lop,1,2) + SUBSTRING(@ten_Lop,4,1) + SUBSTRING(@ma_NamHoc,3,4)
	INSERT INTO LOP VALUES(@ID, @ten_Lop, @ma_KhoiLop, @ma_NamHoc, @siSo, @ma_GiaoVien)
END;
GO
/****** Object:  StoredProcedure [dbo].[Them_MonHoc]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Them_MonHoc]
    @ten_MonHoc nvarchar(30),
	@so_TietHoc int,
	@heSo int
AS
BEGIN
	DECLARE @ID varchar(6)
	SET @ID = [dbo].[AUTO_MaMonHoc]()
	INSERT INTO MONHOC VALUES (@ID, @ten_MonHoc, @so_TietHoc, @heSo)
END;
GO
/****** Object:  StoredProcedure [dbo].[Them_NamHoc]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Them_NamHoc]
    @namHoc varchar(30)
AS
BEGIN
	DECLARE @ID varchar(6)
	SET @ID = 'NH' + SUBSTRING(@namHoc, 3, 2) + SUBSTRING(@namHoc, 8, 2)
	INSERT INTO NAMHOC VALUES (@ID,@namHoc)
END;
GO
/****** Object:  StoredProcedure [dbo].[Them_NguoiDung]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Them_NguoiDung]
    @ma_Loai varchar(6),
	@ten_NguoiDung nvarchar(30),
	@ten_DangNhap nvarchar(30),
	@matKhau varchar(30)
AS
BEGIN
	DECLARE @ID varchar(6)
	SET @ID = dbo.AUTO_MaNguoiDung()
	INSERT INTO dbo.NGUOIDUNG VALUES (@ID, @ma_Loai, @ten_NguoiDung, @ten_DangNhap, @matKhau)
END;
GO
/****** Object:  StoredProcedure [dbo].[Them_PhanCong]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Them_PhanCong]
    @maNamHoc varchar(6),
	@maLop varchar(10),
	@maMonHoc varchar(6),
	@maGiaoVien varchar(6)
AS
BEGIN
    INSERT INTO PHANCONG VALUES(@maNamHoc, @maLop, @maMonHoc, @maGiaoVien)
END;
GO
/****** Object:  StoredProcedure [dbo].[ThongTinDangNhap]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThongTinDangNhap] 
    @tenDangNhap varchar(30)
AS
BEGIN
	select * from dbo.NGUOIDUNG, dbo.LOAINGUOIDUNG
	where TenDNhap = @tenDangNhap
END;
GO
/****** Object:  StoredProcedure [dbo].[Tim_GiaoVien]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Tim_GiaoVien]
    
	@ten_GiaoVien nvarchar(30)
AS
BEGIN	
	SELECT * FROM GIAOVIEN
	WHERE MaGiaoVien = @ten_GiaoVien OR TenGiaoVien = @ten_GiaoVien OR DiaChi = @ten_GiaoVien OR DienThoai = @ten_GiaoVien
END;
GO
/****** Object:  StoredProcedure [dbo].[Tim_LopHoc]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Tim_LopHoc]
	@value nvarchar(30)
AS
BEGIN
	SELECT MaLop, TenLop, TenKhoiLop, TenNamHoc, SiSo, TenGiaoVien 
	FROM LOP LH, NAMHOC NH, GIAOVIEN GV, KHOILOP KL
	WHERE LH.MaKhoiLop = KL.MaKhoiLop AND LH.MaGiaoVien = GV.MaGiaoVien AND NH.MaNamHoc=LH.MaNamHoc 
		AND (MaLop = @value OR TenLop = @value OR TenKhoiLop = @value 
		OR TenGiaoVien = @value OR TenNamHoc = @value)
END;
GO
/****** Object:  StoredProcedure [dbo].[Tim_NguoiDung]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Tim_NguoiDung] 
    @value nvarchar(30)
AS
BEGIN
	SELECT MaND, TenLoaiND, TenND, TenDNhap, MatKhau FROM NGUOIDUNG ND, LOAINGUOIDUNG LND
	WHERE ND.MaLoai = LND.MaLoai AND (MaND = @value OR TenLoaiND = @value OR TenDNhap = @value OR TenND = @value)
END;
GO
/****** Object:  StoredProcedure [dbo].[Xoa_GiaoVien]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Xoa_GiaoVien] 
    @maGiaoVien varchar(6) 
AS
BEGIN
	DELETE FROM GIAOVIEN WHERE MaGiaoVien = @maGiaoVien
END;
GO
/****** Object:  StoredProcedure [dbo].[Xoa_MonHoc]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Xoa_MonHoc]
    @ID varchar(6)
AS
BEGIN
	DELETE MONHOC WHERE MaMonHoc = @ID
END;
GO
/****** Object:  StoredProcedure [dbo].[Xoa_NguoiDung]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Xoa_NguoiDung]
	@ma_NguoiDung varchar(6)
AS
BEGIN
	DELETE dbo.NGUOIDUNG WHERE MaND = @ma_NguoiDung
END;
GO
/****** Object:  StoredProcedure [dbo].[Xoa_PhanCong]    Script Date: 12/07/2020 14:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Xoa_PhanCong]
    @STT int
AS
BEGIN
    DELETE dbo.PHANCONG 
	WHERE STT = @STT
END;
GO
USE [master]
GO
